################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VDS-2022-MFG-Sample/obj/Debug
/VDS-2022-Manufacturing-Sample/obj/Debug
/VDS-2022-Manufacturing-Sample/.vs/VDS-2022-Manufacturing-Sample/v16
/VDS-2022-PDMC-Sample/obj/Debug
/ReleasePackages
/VDS-2022-Manufacturing-Sample/.vs/VDS-Sample-Configuration-2022/v16
/VDS-2022-PDMC-Sample/Vault.Custom.zip
